In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [10]:
DATA_DIR = Path().resolve().parent / "data"
FPATH = DATA_DIR / "italy" / "serie_a_2018_2019.csv"

In [31]:
data = pd.read_csv(FPATH)

In [37]:
df = data.drop(data.columns[22:], axis=1).drop("Div", axis=1)

In [38]:
df = df.set_index("Date")
df

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
Date,,,,,,,,,,,,,,,,,,,,
18/08/2018,Chievo,Juventus,2,3,A,1,1,D,7,23,2,11,7,9,0,8,2,0,0,0
18/08/2018,Lazio,Napoli,1,2,A,1,1,D,9,11,5,6,8,5,4,7,0,0,0,0
19/08/2018,Bologna,Spal,0,1,A,0,0,D,8,10,3,5,16,11,7,0,4,2,1,0
19/08/2018,Empoli,Cagliari,2,0,H,1,0,H,9,12,4,5,19,19,6,6,3,3,0,0
19/08/2018,Parma,Udinese,2,2,D,1,0,H,9,16,6,6,10,13,4,5,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26/05/2019,Inter,Empoli,2,1,H,0,0,D,20,9,15,5,11,9,8,2,4,2,1,1
26/05/2019,Roma,Parma,2,1,H,1,0,H,16,9,8,5,13,8,13,8,2,1,0,0
26/05/2019,Sampdoria,Juventus,2,0,H,0,0,D,10,6,3,1,6,12,7,6,0,2,0,0
26/05/2019,Spal,Milan,2,3,A,1,2,A,7,16,4,8,17,13,8,4,2,2,0,0
26/05/2019,Torino,Lazio,3,1,H,0,0,D,9,9,7,4,9,10,5,5,0,1,0,0

In [39]:
df.HomeTeam.unique()

array(['Chievo', 'Lazio', 'Bologna', 'Empoli', 'Parma', 'Sassuolo',
       'Torino', 'Atalanta', 'Juventus', 'Napoli', 'Cagliari',
       'Fiorentina', 'Frosinone', 'Genoa', 'Inter', 'Spal', 'Udinese',
       'Roma', 'Milan', 'Sampdoria'], dtype=object)

In [46]:
league_avg = df[["FTHG", "FTAG"]].mean()
league_avg

FTHG    1.484211
FTAG    1.197368
dtype: float64

In [60]:
napoli_avg = df.loc[df["HomeTeam"]=="Napoli", ["FTHG", "FTAG"]].mean() / league_avg
napoli_avg

FTHG    1.453901
FTAG    0.703297
dtype: float64

In [61]:
juventus_avg = df.loc[df["AwayTeam"]=="Juventus", ["FTHG", "FTAG"]].mean() / league_avg
juventus_avg

FTHG    0.602837
FTAG    1.362637
dtype: float64

In [65]:
df_teams = pd.DataFrame([napoli_avg, juventus_avg], index=["Napoli", "Juventus"])
df_teams

              FTHG      FTAG
Napoli    1.453901  0.703297
Juventus  0.602837  1.362637

In [71]:
df_teams.loc["Napoli", "FTHG"] * df_teams.loc["Juventus", "FTAG"]

1.9811394279479384

In [72]:
df_teams.loc["Napoli", "FTAG"] * df_teams.loc["Juventus", "FTHG"]

0.4239731899306367